.filtersWrapper {
    display: flex;
    background: #007eff2b;
    padding: 15px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
}

.filters > div {
    margin-right: 10px;
}